body {
  min-width: 400px;
}

blockquote {
  margin: 0;
}

blockquote pre,
blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

blockquote {
  min-width: 400px;
}

.main {
  margin: auto;
  display: flex;
  flex-direction: row;
  place-content: center;
  overflow: hidden;
  height: calc(100vh - 49px);
}

.logs {
  width: 85%;
  max-width: 500px;
  min-width: 287px;
  overflow-y: scroll;
}

.details {
  min-width: 500px;
  overflow-y: scroll;
}

.logs > .message {
  cursor: pointer;
  color: #ffffff;
  background-color: #6042e6;
  padding: 8px;
}

.logs > .message:hover {
  color: #000000;
  background-color: #43b6daaf;
}

.selected {
  color: #000000 !important;
  background-color: #93e97f !important;
}

@media screen and (max-width: 700px) {
  .main {
    height: unset;
  }

  .logs {
    width: unset;
    max-width: unset;
    min-width: unset;
  }

  .details {
    min-width: unset;
  }

  .message {
    min-width: 400px;
  }
}
